.page {
    width: 100vw;
    height: 100vh;
    /* background-color: cornflowerblue; */
    font-family: 'Nintendo Switch UI', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tollbar */
.toolbar{
    flex-grow: 0.2;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: coral; */
}

.toolbar-avatar{
    margin: 0px 5%;
}

.avatar-img {
    height: 40px;
    width: auto;
    border-radius: 100%;
}


/* items */
.items{
    flex-grow: 4;
    width: inherit;
    display: flex;
    align-items: center;
    overflow: visible;
    /* background-color: cornflowerblue; */
}

.item-list{
    margin: 0px 5%;
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.item{
    width: 500px;
    height: 500px;
    margin: 0px 50px;
    position: relative;


    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
}

.item:hover{
    transform: scale(1.1);
    border: 1px solidrgb(93, 165, 167)k;
    border: 4px solid #00B7C1;
}

.item-image {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}


/* sections */
.sections{
    flex-grow: 1.5;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(56, 81, 65);
}


/* help */
.help {
    flex-grow: 0.5;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(192, 181, 140);
}